In [ ]:
"""Python operation in the expression."""

In [ ]:
from tdom import html

In [ ]:
def main():
    """Main entry point."""
    name = "tdom"
    result = html(t"<div>Hello {name.upper()}</div>")
    return result